Package: enigma2-plugin-extensions-moviearchiver
Version: 0.2d
Section: extra
Priority: optional
Maintainer: svox
Architecture: mips32el
OE: enigma2-plugin-extensions-moviearchiver
Description: Archive or Backup your Movielist automatically. MovieArchiver by svox
Homepage: https://github.com/MovieArchiver/
Source: https://github.com/MovieArchiver/
